DJANGO_SECRET_KEY=xxxxxxxxxxxxxxxx
DEBUG=True

ALLOWED_HOSTS=127.0.0.1

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_DB_NAME=mcm-cuit-file-manager

REDIS_URL=redis://127.0.0.1:6379/0

GITHUB_CLIENT_ID=x
GITHUB_CLIENT_SECRET=x

R2_ACCOUNT_ID=x
R2_ACCESS_KEY_ID=x
R2_SECRET_ACCESS_KEY=x
R2_BUCKET_NAME=x
R2_PUBLIC_URL=x